/* Enter your custom styles here */
/* .sapMImg.logo{
    border-radius: 50%;
}
.color{
    background-color: #121b43 ;
}
.titleColor{
    color: white;
}

:root {
    --dynamic-color: #fff; 
}

.sapUiCalendarApp {
    background-color:var(--dynamic-color);
} */
/* webapp/css/style.css */
.body {
    font-family: "72", Arial, Helvetica, sans-serif;
}
.sapUiBody {
    background-color: #f4f4f4;
}
.sapUiContentPadding {
    padding: 20px;
}
.sapUiTinyMarginTop {
    margin-top: 5px;
}
.sapUiTinyMarginBottom {
    margin-bottom: 5px;
}
.TinyMarginBottom {
    margin-bottom: 10px;
}
.sapUiTinyMargin {
    margin: 5px;
}
.sapUiSmallMargin {
    margin: 10px;
}
.leftMargin {
    margin-left: 250px; /* Adjust the value as needed */
}
.transparentBackground {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) for the desired opacity */
}

.darkBlueBackground {
    background-color: #00008B; /* Dark Blue */
}
.customVBox {
    background-color: #03035d; /* Dark Blue */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
.whiteText {
    color: white;
}
.largeText {
    font-size: 25px; /* Adjust the font size as needed */
}
/* CSS class to center the search box */
.centeredSearchBox {
    display: flex;
    justify-content: center;
}











/* Define additional classes for other colors as needed */


/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType06.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: darkblue;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType06.sapUiCalendarApp:active {
    border-left-color:darkblue;
} */
/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType01.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color:#e21f4a;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType01.sapUiCalendarApp:active  {
    border-left-color: #e21f4a;
} */