/* Enter your custom styles here */
/* .sapMImg.logo{
    border-radius: 50%;
}
.color{
    background-color: #121b43 ;
}
.titleColor{
    color: white;
}

:root {
    --dynamic-color: #fff; 
}

.sapUiCalendarApp {
    background-color:var(--dynamic-color);
} */
/* webapp/css/style.css */
body {
    font-family: "72", Arial, Helvetica, sans-serif;
}
.sapUiBody {
    background-color: #f4f4f4;
}
.sapUiContentPadding {
    padding: 10px;
}
.sapUiTinyMarginTop {
    margin-top: 5px;
}
.sapUiTinyMarginBottom {
    margin-bottom: 5px;
}
.sapUiTinyMargin {
    margin: 5px;
}
.sapUiSmallMargin {
    margin: 10px;
}





/* Define additional classes for other colors as needed */


/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType06.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: darkblue;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType06.sapUiCalendarApp:active {
    border-left-color:darkblue;
} */
/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType01.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color:#e21f4a;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType01.sapUiCalendarApp:active  {
    border-left-color: #e21f4a;
} */