/* Enter your custom styles here */
/* .sapMImg.logo{
    border-radius: 50%;
}
.color{
    background-color: #121b43 ;
}
.titleColor{
    color: white;
}

:root {
    --dynamic-color: #fff; 
}

.sapUiCalendarApp {
    background-color:var(--dynamic-color);
} */
/* webapp/css/style.css */
.body {
    font-family: "72", Arial, Helvetica, sans-serif;
}
.sapUiBody {
    background-color: #f4f4f4;
}
.sapUiContentPadding {
    padding: 10px;
}
.sapUiTinyMarginTop {
    margin-top: 5px;
}
.sapUiTinyMarginBottom {
    margin-bottom: 5px;
}
.TinyMarginBottom {
    margin-bottom: 10px;
}
.sapUiTinyMargin {
    margin: 5px;
}
.sapUiSmallMargin {
    margin: 10px;
}
.leftMargin {
    margin-left: 250px; /* Adjust the value as needed */
}
.SmallLeftMargin {
    margin-left: 20px; /* Adjust the value as needed */
}
.transparentBackgroundButton .sapMBtnInner {
    background-color: transparent !important;
}

.darkBlueBackground {
    background-color: #00008B; /* Dark Blue */
}
.customVBox {
    background-color: #03035d; /* Dark Blue */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
.whiteText {
    color: white;
}
.largeText {
    font-size: 25px; /* Adjust the font size as needed */
}
.largerText {
    font-size: 40px; /* Adjust the font size as needed */
}
.blueText {
    color: #03035d; /* Set text color to blue */
}
.blueeText {
    color: blue; /* Set text color to blue */
}
/* CSS class to center the search box */
.centeredSearchBox {
    display: flex;
    justify-content: center;
}
.darkBlueHeader {
    background-color: #03035d; /* Dark blue color */
    color: white; /* Text color */
}
.navColor {
    background-color: #19199a; /* Dark blue color */
    color: white; /* Text color */
}
.straightLine {
    height: 2px;
    width: 100px; /* Adjust the width of the line as needed */
    background-color: blue;
    position: relative;
    top: -3px; /* Adjust this value to vertically center the line */
}

.circle {
    width: 20px;
    height: 20px;
    background-color:#03035d;;
    border-radius: 50%; /* Ensures the circle is round */
}
.leftMarginForLine {
    margin-left: 350px; /* Adjust the value as needed */
}
.RightMarginForLine {
    margin-right: 30px; /* Adjust the value as needed */
}
.circleNotFilled {
    width: 20px;
    height: 20px;
    border: 1px solid #03035d;; /* Border width and color */
    border-radius: 50%; /* Ensures the circle is round */
}
.container {
    display: flex;
}

.boxContainer {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px; /* Adjust the margin between boxes */
    flex: 1; /* Make the boxes grow to fill available space */
    display: flex; /* Nested flexbox to align content vertically */
    flex-direction: column; /* Align content vertically */
    align-items: stretch; /* Stretch items to match height */
    height: fit-content; /* Ensure both boxes have the same height */
}

.headerText {
    font-size: 18px;
    font-weight: bold;
}

.contentText {
    font-size: 16px;
    margin-top: 5px;
}
.greyText {
    color: grey;
}







/* Define additional classes for other colors as needed */


/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType06.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color: darkblue;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType06.sapUiCalendarApp:active {
    border-left-color:darkblue;
} */
/* .sapUiCalendarRowVisFilled>.sapUiCalendarRowApps>.sapUiCalendarAppType01.sapUiCalendarApp:not(.sapUiCalendarAppSel)>.sapUiCalendarAppCont {
    background-color:#e21f4a;
} */
/* .sapUiCalendarAppType01.sapUiCalendarApp, .sapUiCalendarAppType01.sapUiCalendarApp:active  {
    border-left-color: #e21f4a;
} */